/* https://coolors.co/e07e79-78e09e-cc0000 
Main color - 78E09E
Secondary color - 4BA3C3
Tertiary color - CC0000
*/
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Quicksand&display=swap');

header {
    background-color: #4ba3c3;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto; */
    border-bottom: 3px solid #CC0000;
    }

    nav {
        display: flex;
    }

main {
    display: grid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #4ba3c3;
  font-family: "Source Code Pro", Helvetica, serif;
  line-height: 1.1em;
  padding: 0.5em;
  text-align: center;
  align-items: center;
}
h1 {
    font-family: "Source Code Pro", serif;
    font-size: 2.5em;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Barlow", sans-serif;
    background-color: #78E09E;
    padding: 5px 5px;
    font-size: 18px;
    margin: 0;
    color: white;
      
}

.thedate, aside {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: .75rem;
    background-color: #eee;
}

   