@media only screen and (min-width: 35rem) {

     nav button {display: none;}

    nav ul#primaryNav{
        display: flex;
        justify-content: space-evenly;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;

    } 

    main div {
        padding: 2rem;
    }
    header {
        flex-direction: row;
    }
    .social {
        max-width: 60px;
    }
    .spotlights {
        display: flex;
        flex-flow: row wrap;
    }
    .join {
        order: 1;
    }
    .event {
        order: 2;
        grid-auto-flow: row;
    }

    .weather {
        order: 3;
        grid-auto-flow: row;
    }
.list section {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-evenly;
}
#card.list h3 {
    max-width: 300px;
}
#menu {
    display: block;
}
}  