/* https://coolors.co/e07e79-78e09e-cc0000 
Main color - 78E09E
Secondary color - 4BA3C3
Tertiary color - CC0000
*/
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Quicksand&display=swap');


header {
    background-color: #4ba3c3;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 2px solid #CC0000;
    flex-direction: column;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .logo img {
        width: 80px;
        height: auto;
    }

    .headings {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
    }

    .headings h1 {
        font-size: 1.5rem;
    }

    .c {
        letter-spacing: .5pt;
        color: #CC0000;
        font-weight: 700;
        font-size: 1rem;
    }

    /*.social {
        margin-right: 1.5rem;
        max-width: 20px;
    }*/

    .imgShadow:hover {
        box-shadow: 0 0 50px #333;
    }

    nav button {
        margin: .2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: #cc1111;
    }

nav {
    background-color: #4ba3c3;
    border-bottom: 2px solid #CC0000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #CC0000;
    border-top: 2px solid rgba(0,0,0,0.5);
}

/* Add the active class to the page link for each page. */
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    display: grid;
    gap: .25rem;
}

main div {
    background-color: #78e09e;
    padding: 2rem;
    border: 5px #000;
    
}

.hero {
    order: -1;
    position: relative;
}

/*img {
    width: 100%;
}*/

main picture.hero img {
    display: block;
    width: 100%;
}

.news {
    order: -2;
}

.joinHere {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: radial-gradient(#cc0000, #78e09e)
}

#banner {
    display: none;
    margin: 0 auto;
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 1rem;
    text-align: center;
}

#newsImg {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
}

/*-------------FORM-------------*/
form fieldset {
    margin: 2rem 0;
    border: 2px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 0 1rem;
    color: #9c2c13;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
/*-------------END FORM-------------*/

/*--------------CARDS---------------*/
main {
    grid-template-columns: 1fr;
}

#menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #78E09E;
	text-align: center;
    display: none;
}

div,
section {
	margin: 0.75rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px;
	background-color: #4ba3c3;
}

#menu button {
	padding: 1rem;
}

#cards {
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list div {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.grid div {
	flex-direction: column;
	text-align: center;
}

.grid div > * {
	margin: 0.1rem;
}

.grid section {
    min-height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.list div {
	flex-direction: row;
	justify-content: left;
}

.list div > * {
	margin: 0 1rem;
	text-align: left;
}

.list div img {
	display: none; /* smaller viewports only */
}

div h3 {
	font-size: 1.5rem;
}

div a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
}

#cards img {
    height: 75px;
	max-width: 100%;
}

/*-----------END CARDS--------------*/
