@media only screen and (min-width: 35rem) {

    /* nav button {display: none;}

    nav ul#primaryNav{
        display: flex;
        justify-content: flex-start;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    } */
    header{
        flex-direction: row;
    }
    .social {
        max-width: 60px;
    }
    .spotlights {
        display: flex;
        flex-flow: row wrap;
    }
    .join {
        order: 1;
    }
    .event {
        order: 2;
        grid-auto-flow: row;
    }

    .weather {
        order: 3;
        grid-auto-flow: row;
    }
    .list section{
        display: flex;
        flex-direction: row;
        min-width: 100%;
        justify-content: space-evenly;
    }
    #cards.list img {
        max-width: 200px;
    }
    #cards.list h3 {
        max-width: 300px;
    }
    #menu {
        display: block;
    }

}  