@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Exo:wght@300&display=swap');
/* Color base
https://coolors.co/bdd5ea-eabdd5-9c2c13
Main color: bdd5ea
Secondary color: eabdd5
Tertiary color: 9c2c13
Typography:
Arvoe and Exo for my fonts
@importurl('https://fonts.googleapis.com/css2?family=Arvo&family=Exo:wght@300&display=swap');
*/

/*-----------ALL PAGES----------*/
h1, h2, h3, h4, h5 {
font-family: 'Arvo', Helvetica, serif;
}
body {
    background-color: #bdd5ea;
    padding: 10px;
}

header {
    background-color: #bdd5ea;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 5%;
    width: 90%;
    border-bottom: #9c2c13;
}

main {
    padding: 15px;
    display: grid;
    gap: .25rem;
    
}

p {
    font-family: 'Exo', Arial, sans-serif;
}

main img {
    width: 100%;
}

.home {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
/*--------Navigation-------- */
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #9c2c13;
}

nav {
    display: block;
    background-color: #bdd5ea;
    border-bottom: 2px solid #9c2c13;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a, a.active {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffffff;
    border-top: 2px solid #9c2c13;
}

.nav a {
    display:block; 
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
  }

  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
   }

/* Add the active class to the page link for each page. */
nav ul li.active a {
background-color: rgba(0,0,0,0.1);
}

nav ul li a:hover {
background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*-------------FORM-------------*/
form fieldset {
    margin: 2rem 0;
    border: 2px solid #9c2c13;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #9c2c13;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: grid;
    padding-top: 1rem;
    color: #9c2c13;
}

form label.top input, form label.top select {
    display: grid;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #9c2c13;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: grid;
    padding: .75rem 0;
    color: #9c2c13;
}

div.check {
    display: inline;
   width: auto;
}


form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: #bdd5ea;
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
textarea {
    width: 90%;
    padding: 5%;
    height: 100px;
}

/* Color base
https://coolors.co/bdd5ea-eabdd5-9c2c13
Main color: bdd5ea
Secondary color: eabdd5
Tertiary color: 9c2c13
*/