@importurl('https://fonts.googleapis.com/css2?family=Arvo&family=Exo:wght@300&display=swap');
/* Color base
https://coolors.co/bdd5ea-eabdd5-d5eabd
Main color: bdd5ea
Secondary color: eabdd5
Tertiary color: d5eabd
Typography:
Arvoe and Exo for my fonts
@importurl('https://fonts.googleapis.com/css2?family=Arvo&family=Exo:wght@300&display=swap');
*/

/*-----------ALL PAGES----------*/
body {
    background-color: #bdd5ea;
}

p {
    font-family: 'Arvo', Arial, sans-serif;
}



/*-------------FORM-------------*/
form fieldset {
    margin: 2rem 0;
    border: 2px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: #20B055;
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
/*-------------END FORM-------------*/