@media only screen and (min-width: 35rem) {
    nav button {display: none;}

    nav ul#primaryNav{
        display: flex;
        justify-content: space-evenly;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;

    } 
}