html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: Ubuntu, sans-serif;
  }

  /* tr:nth-of-type(odd) {
    background-color:rgb(40, 168, 132);
    } */
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: teal;
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(137, 236, 137);
  }
  
  tr:nth-child(odd) td {
    background-color: rgba(53, 225, 231, 0.721);
  }
  
  caption {
    padding: 10px;
  }