@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Quicksand&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "Crete Round", Helvetica, serif;
}

p {
  font-family: "Quicksand", Arial, sans-serif; 
}
body {
    background-color: #e07e79;
    padding: 1.25em; /* 20 */
  }
  ul {
      padding: 0;
  }
  ul, li {
    list-style: none;
  }
  a {
    font-family: sans-serif;
    text-decoration: none;
  }
  #nav {
    width: 60em; /* 1000 */
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -30em; /* 30 480 */
  }
  #nav > a {
    display: none;
  }
  #nav li {
    position: relative;
  }
  #nav li a {
    color: #fff;
    display: block;
  }
  #nav li a:active {
    background-color: #c00 !important;
  }
  #nav span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent; /* 5 */
    border-bottom: none;
    border-top-color: #78e09e;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em; /* 5 */
  }
  /* first level */
  #nav > ul {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    /* height: 3.75em; /* 60 */
    background-color: #78E09E;
  }
  #nav > ul > li {
    width: 25%;
    height: 100%;
    float: left;
  }
  #nav > ul > li > a {
    height: 100%;
    font-size: 1.5em; /* 24 */
    line-height: 2.5em; /* 60 (24) */
    text-align: center;
  }
  #nav > ul > li:not( :last-child ) > a {
    border-right: 1px solid #78E09E;
  }
  #nav > ul > li:hover > a,
  #nav > ul:not( :hover ) > li.active > a {
    background-color: #78E09E;
  }
  /* second level */
  #nav li ul {
    background-color: #78E09E;
    display: none;
    position: absolute;
    top: 100%;
  }
  #nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
  }
  #nav li:not( :first-child ):hover ul {
    left: -1px;
  }
  #nav li ul a {
    font-size: 1.25em; /* 20 */
    border-top: 1px solid #78E09E;
    padding: 0.75em; /* 15 (20) */
  }
  #nav li ul li a:hover,
  #nav li ul:not( :hover ) li.active a {
    background-color: #78E09E;
  }
  
  main {
    position: absolute;
    top: 35%;
  }

  .color {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .primary {
    background-color: #e07e79;
  }

  .secondary {
    background-color: #78E09E;
  }

  .accent {
    background-color: #c00;
  }